<div class="dropup">
  <button class="dropbtn">
    <img class="github-img" src="../../../../assets/github-repo.svg" alt="github-profile" /> 
  </button>
  <div class="dropup-content">
    <a href="https://github.com/Anntol" class="gh-link" target="_blank" rel="noopener noreferrer">Anna Tolstova</a>
    <a href="https://github.com/coriander31415" class="gh-link" target="_blank" rel="noopener noreferrer">Natali Tverdokhlibova</a>
    <a href="https://github.com/kastrubait" class="gh-link" target="_blank" rel="noopener noreferrer">Tatsiana Kastrubai</a>
  </div>
</div>
