<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="'/home'">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item [routerLink]="'/login'" *ngIf="!this.isUserAuthenticated">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item  *ngIf="this.isUserAuthenticated" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
  <button mat-menu-item routerLink="/signup" *ngIf="!this.isUserAuthenticated">
    <mat-icon>person_add</mat-icon>
    <span>Sign up</span>
  </button>
</mat-menu>
