@import "../../../../theme/colors.scss";

.grid-container {
  display: grid;
  grid-template-columns: 0.5em 25em 43em 1em;
  grid-template-rows: 22em 22em;
  gap: 2em;
  grid-template-areas:
    ". profile  info-extended ."
    ". settings info-extended .";
}

.profile {
  grid-area: profile;
}

.settings {
  grid-area: settings;
}

.info-extended {
  grid-area: info-extended;
}

.profile,
.settings {
  width: 25em;
  height: 20em;
}

.profile {
  margin-top: 4em;
}

.profile,
.settings,
.info-extended {
  background: $primary-text-color;
  border-radius: 1em;
  box-shadow: 0px 3px 3px rgba($secondary-text-color, 0.2);
  align-self: center;
}

.info-extended {
  width: 42em;
  height: 42em;
  margin-top: 2em;
}

.content {
  width: 25em;
  height: 5em;
}

.avatar {
  width: 10em;
  height: 10em;
  margin-top: -3em;
  margin-left: 8em;
  background-size: cover;
  border-radius: 50%;
  // box-shadow: 0px 0px 0px 4pt $secondary-text-color;
  transition: all 1s ease-in-out;
}

.avatar:hover {
  transform: scale(1.1);
}

.user-name,
.location,
.counter-value,
.el-title {
  color: $secondary-text-color;
}

.el-title {
  font-size: 18px;
}

.user-name {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 0;
}

.location {
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.statistics {
  display: flex;
  width: 25em;
  height: 5em;
  margin-top: 25px;
  border-bottom-left-radius: 0.51em;
  border-bottom-right-radius: 0.51em;
  overflow: hidden;
}

.statistics-box {
  width: 8.3em;
  height: 4.5em;
  float: right;
  overflow: hidden;
  position: relative;
}

.vertical-line {
  border-left: 1px solid $secondary-text-color;
  height: 60px;
}

.counter-block {
  position: relative;
  width: 5em;
  height: 5em;
  margin: auto;
  z-index: 999;
}

.counter-value {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.settings {
  display: flex;
  flex-direction: column;
}

.mode-box,
.language-box{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 60px  40px 0;
}

.form {
  margin-left: 2em;
  margin-top: 2em;
  min-width: 100px;
  max-width: 300px;
  width: 100%;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 20px;
}
