<div class="grid-container">
  <div class="profile">
    <div class="content">
      <img class="avatar" src="../../../../assets/user_unknown.jpg">
      <h3 class="user-name">Name Surname</h3>
      <p class="location">City, Country</p>
      <div class="statistics">
        <div class="statistics-box">
          <div class="counter-block">
            <p class="counter-value">$1428</p>
            <p class="counter-title">DONATIONS</p>
          </div>
        </div>
        <div class="vertical-line"></div>
        <div class="statistics-box">
          <div class="counter-block">
            <p class="counter-value">13</p>
            <p class="counter-title">PROJECTS</p>
          </div>
        </div>
        <div class="vertical-line"></div>
        <div class="statistics-box">
          <div class="counter-block">
            <p class="counter-value">309</p>
            <p class="counter-title">FAVOURITE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="settings">
    <div class="mode-box">
      <h3 class="mode-title">Mode: </h3>
      <div class="light">
        <mat-icon>light_mode</mat-icon>
      </div>
      <div class="dark">
        <mat-icon>dark_mode</mat-icon>
      </div>
    </div>
    <div class="language-box">
      <h3 class="language-lilte">Language: </h3>
      <div class="language">
        <mat-icon>language</mat-icon>
      </div>
    </div>
    <div class="country-box">
      <h3 class="country-title">Country: </h3>
      <div class="country">
        <mat-icon>public</mat-icon>
      </div>
    </div>
  </div>
</div>
