<div class="dropup">
  <button class="dropbtn">
    <img class="github-img" src="../../../../assets/github-repo.svg" alt="github-profile" /> 
  </button>
  <div class="dropup-content">
    <a href="https://github.com/Anntol" class="gh-link" target="_blank" rel="noopener noreferrer"> {{ 'DEVELOPERS.ANNA' | translate}} </a>
    <a href="https://github.com/coriander31415" class="gh-link" target="_blank" rel="noopener noreferrer"> {{ 'DEVELOPERS.NATA' | translate}} </a>
    <a href="https://github.com/kastrubait" class="gh-link" target="_blank" rel="noopener noreferrer"> {{ 'DEVELOPERS.TANIA' | translate}} </a>
  </div>
</div>
