@import '../../../../theme/colors.scss';

ul {
  list-style: none;
}

.themes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
  place-items: center;
  grid-gap: 20px;
  text-align: center;
  align-items: start;
  margin-right: 20px;
}

.theme-img {
  width: 120px;
  cursor: pointer;
  transition: 1s;
}

.theme-img:hover {
  transform: scale(1.3);
}

.theme-title,
.theme-name {
  color: $secondary-text-color;
  opacity: 70%;
}

.theme-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.theme-name {
  font-size: 1rem;
}
