//base
$color-black:#000;
$color-white:#FFF;
$color-success:#00BF32;
$color-error:#FF1E00;
//light theme:
$primary-color-dark:   #0097A7;
$primary-color:        #15a4cb;
$primary-color-light:  #B2EBF2;
$primary-color-text:   #f6f3ec;
$accent-color:         #FF4081;
$accent-color-dark:    #C2185B;
$primary-text-color:   #783b78;
$secondary-text-color: #151515;
$divider-color:        #BDBDBD;
//dark theme:
// $primary-color-dark:   #0097A7;
// $primary-color:        #15a4cb;
// $primary-color-light:  #B2EBF2;
// $primary-color-text:   #f6f3ec;
// $accent-color:         #FF4081;
// $accent-color-dark:    #C2185B;
// $primary-text-color:   #783b78;
// $secondary-text-color: #151515;
// $divider-color:        #BDBDBD;
