//base
$color-black:         #000;
$color-white:         #FFF;
$color-success:       #00BF32;
$color-error:         #FF1E00;
//light theme:
$primary-color:        #15a4cb;
// $primary-color:       #017494;  //dark
$primary-text-color:   #f6f3ec;
// $primary-text-color:   #3d3d3d; //dark
$accent-color:         #FF4081;
$accent-color-dark:    #C2185B;
$accent-violet-color:  #783b78;
// $accent-violet-color:   #C2185B; //dark
$secondary-text-color: #151515;
// $secondary-text-color: #EBECF0; //dark
$divider-color:        #BDBDBD;
$color-white-alt:      #EBECF0;
// $color-white-alt: #3d3d3de6; //dark

$color-violet-op04:   #783b7866;
$color-black-op04:    #14141466;
$color-white-op04:    #ffffff66;
$color-white-op08:    #ffffffcc;

$shadow-ligth:        #fafbfff2;
$shadow-dark:         #0028780c;
$shadow-button:       #a6abbd;
$shadow-accent:       #763a76b9;
