@import '../../../../theme/colors.scss';

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  height: 2.5em;
  width: 17.5em;
  transform: translate(-50%, -50%);
}

.preloader-dot {
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
  background-color: $color-black;
  position: absolute;
  border: 1px solid var(--color-white-alt);
  animation: preloader 3s infinite ease-in-out alternate;
}

.preloader-dot:first-child {
  background-color: var(--primary-color);
  animation-delay: 0.6s;
}

.preloader-dot:nth-child(2) {
  background-color: var(--primary-text-color);
  animation-delay: 0.5s;
}

.preloader-dot:nth-child(3) {
  background-color: var(--accent-color);
  animation-delay: 0.4s;
}

.preloader-dot:nth-child(4) {
  background-color: var(--accent-violet-color);
  animation-delay: 0.3s;
}

.preloader-dot:nth-child(5) {
  background-color: var(--accent-color);
  animation-delay: 0.2s;
}

.preloader-dot:nth-child(6) {
  background-color: var(--primary-text-color);
  animation-delay: 0.1s;
}

.preloader-dot:nth-child(7) {
  background-color: var(--primary-color);
  animation-delay: 0s;
}

.preloader-text {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}

.preloader-text:after {
  content: 'Loading';
  font-weight: bold;
  animation-name: preloader-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes preloader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}

@keyframes preloader-text {
  0% {
    content: 'Loading';
  }
  25% {
    content: 'Loading.';
  }
  50% {
    content: 'Loading..';
  }
  75% {
    content: 'Loading...';
  }
}
