form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  overflow-y: scroll;
  max-height: 42em;
  vertical-align: middle;
}

mat-form-field,
.countries-select {
  padding: 3em 2em 1em 1em;
  color: var(--secondary-text-color);
}

.btn-save {
  height: 3em;
  width: 8em;
  margin: 1em;
}

@media screen and (max-width: 1024px) {
  form {
    max-height: 36em;
  }
}

@media screen and (max-width: 950px) {
  form {
    max-height: 30em;
  }
  mat-form-field,
  .countries-select {
    padding: 2em 3em 0em 1em;
  }
  .btn-save {
    width: 9em;
    margin: 4em;
  }
}

@media screen and (max-width: 750px) {
  form {
    max-height: 30em;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  mat-form-field,
  .countries-select {
    padding: 1em 1em 0em;
  }
  .btn-save {
    align-self: center;
    height: 3em;
    width: 5em;
    margin: 2em;
  }
}