<div id="projects" class="projects">
  <div id="navLogo" class="nav-vertcal">
    <app-vertical-menu></app-vertical-menu>
  </div>
  <div id="pageTop" class="top">
    <!-- <form>
      <input type="text" />
      <input type="text" matInput [formControl]="searchQuery" />
      <span class="material-icons stacks-base-block">search</span>
    </form> -->
  </div>
  <div id="pageContent" class="content">
    <router-outlet #outlet="outlet"></router-outlet>
    <!-- <app-project-list [dataProjects]=dataProjects></app-project-list> -->
    <!-- <button (click)="nextPage()">{{ 'PROJECTS.BTN_MORE' | translate }}</button> -->
    <!-- <span class="warning-message">{{ PROJECTS.ERR_MESSAGE }}</span> -->

  </div>

  <div id="pageBottom" class="bottom">
    <!-- <button class="btn-more bg-base-block stacks-base-block">{{ 'PROJECTS.BTN_MORE' | translate }}</button> -->
    <app-select-lang class="lang"></app-select-lang>
  </div>

  <div id="pageFooter" class="footer-secondary">
    <a href="https://rs.school/js/">
      <img class="rsschool-img" src="../../../../assets/RSSchool_logo.svg" alt="RSSchool" />
    </a>
    <img class="github-img" src="../../../../assets/github-repo.svg" alt="github-profile" />
    <p class="creation">@ 2021</p>
  </div>

</div>
