<div class="projects">
  <div class="nav-vertcal">
    <app-vertical-menu></app-vertical-menu>
  </div>
  <div class="content">

    <!-- <app-project-list [dataProjects]=dataProjects></app-project-list> -->

    <!-- <button class="btn-more bg-base-block stacks-base-block">{{ 'PROJECTS.BTN_MORE' | translate }}</button> -->
    <!-- <button (click)="nextPage()">{{ 'PROJECTS.BTN_MORE' | translate }}</button> -->
    <!-- <span class="warning-message">{{ PROJECTS.ERR_MESSAGE }}</span> -->

  </div>
  <app-select-lang class="lang"></app-select-lang>
</div>
