@import '../../../../theme/colors.scss';

.projects {
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
  min-height: 100vh;
  display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
}
.nav-vertcal{
  position: relative;
  z-index: 4;
  display: -webkit-flex;
  display: flex;
	flex: 0 1 9em ;
  flex-direction: column;
  @media screen and (max-width: 485px) {
    margin-bottom: 2px;
		flex: 0 1 100%;
		height: 80px
  }
}
.footer-secondary {
  position: absolute;
  width: 9em;
  bottom: 0.3em;
  z-index: 5;
  @media screen and (max-width: 485px) {
    width: 21.5em;
    bottom: 0;
  }
}
.footer-show {
  position: absolute;
  bottom: 0;
  margin-bottom: -80px;
  width: 100%;
  height: 80px;
  background: $accent-violet-color;
  transition: margin 0.5s linear;
  @media screen and (max-width: 485px) {
    // background-image: url(../../../../assets/img/footer-people.png);
    // filter: grayscale(20%);
    opacity: 0.8;
    margin-bottom: 0;
  }
}
.rsschool-img {
  height: 37px;
  transform: rotate(-90deg);
  margin: 1em 1em 1em .5em;
  @media screen and (max-width: 485px) {
    transform: rotate(0deg);
    margin: 0 1em 0 2em;
  }
}
.rsschool-img:hovet {
  cursor: pointer;
}
.github-img {
  height: 40px;
  margin: 2em 1em .5em 3em;
  @media screen and (max-width: 485px) {
    margin: 0 .5em;
  }
}
.creation {
  color: $primary-text-color;
  text-align: center;
  opacity: 0.7;
  @media screen and (max-width: 485px) {
    text-align: left;
    display: inline-block;
    margin: 1em;
  }
}
.content{
  position: relative;
  margin-left: 2px;
	display: -webkit-flex;
  display: flex;
  flex: auto;
  justify-content: top;
  overflow: auto;
  height: 100vh;
  // background-color: orange;
  background-color: $color-white-alt;
  @media screen and (max-width: 485px) {
    margin-left: 0;
		flex: 1 1 100%;
		flex-direction: row;
		height: calc(100vh - 80px)
  }
  .btn-more {
    position: absolute;
    left: 1em;
    bottom: 2.5em;
    width: 12em;
    height: 40px;
    color: $accent-violet-color;
    text-transform: uppercase;
    font-weight: 600;
    @media screen and (max-width: 485px) {
      bottom: 5.5em;
    }
  }
}
.lang {
  position: fixed;
  bottom: 2em;
  right: 2em;
  @media screen and (max-width: 485px) {
    right: 1em;
    bottom: 3.6em;
  }
}
form{
  position: relative;
  top: 2em;
  left: 4em;
  transition: all 1s;
  width: 42px;
  height: 42px;
  border-radius: 20px;
  @media screen and (max-width: 485px) {
    margin-top: -1.5em;
    margin-left: 5.5em;
  }
}

input{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 42px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  color: $secondary-text-color;
  border-radius: 20px;
  padding-left: 20px;
}

.material-icons{
  box-sizing: border-box;
  padding: 0.5em;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: $accent-violet-color;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  transition: all 1s;
}

form:hover{
  width: 12em;
  cursor: pointer;
}

form:hover input{
  display: block;
}

form:hover .material-icons{
  background: $accent-violet-color;
  color: $primary-text-color;
}
