@import '../../../../theme/colors.scss';

#projects {
  display: grid;
  grid-template-areas:
    'logo top'
    'logo content'
    'logo content'
    'footer content'
    'footer bottom';
  grid-template-rows: 6.5em 5em 1fr 9em 5em;
  grid-template-columns: 9em 1fr;
  grid-gap: 0;
  width: 100%;
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;
  @media screen and (max-width: 540px) {
    grid-template-areas:
      'logo'
      'top'
      'content'
      'bottom'
      'footer';
    grid-template-rows: 6.5em 5em 1fr 1em 6em;
    grid-template-columns: 1fr;
  }
}

#navLogo {
  grid-area: logo;
}
#pageTop {
  grid-area: top;
}
#pageContent {
  grid-area: content;
}
#pageBottom {
  grid-area: bottom;
}
#pagefooter {
  grid-area: footer;
}

.logo,
.top,
.content,
.bottom {
  position: relative;
  padding: 10px;
  background-color: $color-white-alt;
}

.nav-vertical {
  background-color: $primary-color;
}

.footer-secondary {
  width: 9em;
  z-index: 4;
  padding-top: .5em;
  @media screen and (max-width: 540px) {
    background-color: $accent-violet-color;
    width: 100%;
  }
}
.rsschool-img {
  height: 37px;
  transform: rotate(-90deg);
  margin: 1em 1em 1em 0.5em;
  @media screen and (max-width: 540px) {
    transform: rotate(0deg);
    margin: 1em 1em 0 2em;
  }
}
.rsschool-img:hovet {
  cursor: pointer;
}
.github-img {
  height: 40px;
  margin: 2em 1em 0.5em 3em;
  @media screen and (max-width: 540px) {
    margin: 0 0.5em;
  }
}
.creation {
  color: $primary-text-color;
  text-align: center;
  opacity: 0.7;
  @media screen and (max-width: 540px) {
    text-align: left;
    display: inline-block;
    margin: 1em;
  }
}
.content {
  position: relative;
  justify-content: top;
  overflow: auto;
  background-color: $color-white-alt;
  @media screen and (max-width: 540px) {
    margin-left: 0;
  }
  .btn-more {
    position: absolute;
    left: 1em;
    bottom: 1.5em;
    width: 12em;
    height: 40px;
    color: $accent-violet-color;
    text-transform: uppercase;
    font-weight: 600;
    @media screen and (max-width: 540px) {
      bottom: 1.5em;
    }
  }
}
.lang {
  position: absolute;
  bottom: 1.5em;
  right: 1em;
  @media screen and (max-width: 540px) {
    z-index: 6;
    bottom: -1em;
  }
}

form {
  position: relative;
  top: 0.4em;
  left: 1.5em;
  transition: all 1s;
  width: 42px;
  height: 42px;
  border-radius: 20px;
  @media screen and (max-width: 540px) {
    margin-left: 7em;
  }
}

input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 42px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  color: $secondary-text-color;
  border-radius: 20px;
  padding-left: 20px;
}

.material-icons {
  box-sizing: border-box;
  padding: 0.5em;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: $accent-violet-color;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  transition: all 1s;
}

form:hover {
  width: 12em;
  cursor: pointer;
}

form:hover input {
  display: block;
}

form:hover .material-icons {
  background: $accent-violet-color;
  color: $primary-text-color;
}

//--filter
section {
  display: table;
  margin-top: 1.5em;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
  @media screen and (max-width: 540px) {
    margin-top: 1.5em;
    font-size: 14px;
  }

  .filter-label {
    display: table-cell;
    padding-right: .3em;
    min-width: 100px;
  }

  .filter-button-row {
    display: flex;
  }

  .filter-button-row .mat-button-base {
    margin: 0 .3rem 0 0;
  }

  .underline {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    transition: background-size .3s;
  }

}

.filter-container {
  display:flex;
  justify-content: center;
}

::ng-deep .mat-sort-header-arrow {
  color: $secondary-text-color;
}
