@import '../../../../theme/colors.scss';

$label-size: 60px;
$label-margin: 0px;
$label-before-size: 40px;

$font-size-md: 16px;
$font-size-ms: 20px;
$font-size-lg: 24px;
$font-size-xl: 36px;
$font-light: 300;
$font-normal: 400;
$font-bold: 500;

#cards-block {
 	width: 100%;
	// max-width: 1200px;
	min-width: 280px;
	margin: 0 auto;
  padding: 0 10px;
  list-style-type: none;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.card-itm {
  position: relative;
  float: left;
  width: 550px;
  height: 550px;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  margin-right: 2.5rem;
  border-radius: 5px;

  @media screen and (max-width: 730px) {
    padding: .5rem .5rem;
		width: 100%;
  }
}

// Reference from: http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

.title {
  font-size: $font-size-xl;
  font-weight: $font-size-md;
  margin-bottom: 36px;
  small {
    font-size: 16px;
  }
}

.checkbox-input {
  display: none;
}

.checkbox-label,
.checkbox-text,
.checkbox-text--goal,
.checkbox-text--description {
  transition: all .4s ease;
}

.checkbox-label {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  cursor: pointer;
  font-size: $font-size-lg;
  font-weight: $font-normal;
  border: 1px solid darken($color-white, 15%);
  border-radius: 2px;
  box-shadow: inset 0 0 0 0 $primary-color;
  @media screen and (max-width: 540px) {
    font-size: $font-size-ms;
  }

  &:before {
    content: "";
    position: absolute;
    top: 75%;
    left: 16px;
    width: $label-before-size;
    height: $label-before-size;
    opacity: 0;
    background-color: $primary-color;
    background-size: 24px;
    border-radius: 50%;
    transform: translate(0%, -50%);
    transition: all .4s ease;
  }
}

.checkbox-text {
  padding: 4px;

  &--title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 1em;
    padding-top: 1em;
    font-weight: $font-bold;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $accent-violet-color;
    border-top: 1px solid $primary-color;
  }

  &--donate {
    font-size: 20px;
    @media screen and (max-width: 675px) {
      font-size: 18px;
    }
    .summ,
    .funding,
    .sumtitle {
      display: inline-block;
      width: 27%;
      padding: .4em .4em .4em 0;
    }
    .sumtitle {
      padding: 1em .3em 0 .3em;
      font-size: 16px;
      @media screen and (max-width: 675px) {
        font-size: 14px;
      }
    }
    .check {
      display: inline-block;
      width: 35%;
      padding: .3em;
      text-align: center;
      color: $primary-text-color;
      background-color: $primary-color;
      border-radius: 3em;
    }
  }
  &--description {
    font-size: $font-size-ms;
    margin-top: 1em;
    padding-top: 1em;
  }

  &--header {
    margin: .5em .5em 0 0;
    text-align: right;
    .small {
      font-size: $font-size-ms;
    }
  }
}

.checkbox-input:checked + .checkbox-label {
  border-color: $primary-color;
  box-shadow: inset 0 -12px 0 0 $primary-color;
  &:before {
    top: 0;
    opacity: 1;
  }

  & .checkbox-text {
    transform: translate(0, -8px);
    &--title {
      border-color: darken($color-white, 15%);
    }
  }
}

.box-img {
  position: relative;
   overflow: hidden;
   width: 100%;
   height: 250px;
}

img {
  position: absolute;
   top: 50%;
   left: 50%;
   transform:translate(-50%,-50%);
   width: 100%;
   height: 250px;
   object-fit: cover;
}

// ---More projects...
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.more-btn {
  position: relative;
  left: 50%;
  height: 40px;
  width: auto;
  padding: 0 1em 0 2em;
  box-sizing: border-box;
  color: $accent-violet-color;
  font-size: $font-size-ms;
  font-weight: $font-bold;
  text-transform: uppercase;
  transform: translate(-50%, 0);
  .badge {
    margin: 0 1em;
    font-weight: $font-bold;
  }
}
