@import '../../../../theme/colors.scss';

$label-size: 60px;
$label-margin: 0px;
$label-before-size: 40px;

$font-size-md: 16px;
$font-size-ms: 20px;
$font-size-lg: 24px;
$font-size-xl: 36px;
$font-light: 300;
$font-normal: 400;
$font-bold: 500;

#cards-block {
  display: block;
 	width: auto;
	min-width: 280px;
	margin: 0 auto;
  padding: 0 10px;
  list-style-type: none;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.card-itm {
  position: relative;
  float: left;
  width: 550px;
  height: 540px;
  padding: 1em 1em;
  margin-top: 2em;
  margin-right: 2.5em;
  border-radius: 8px;

  @media screen and (max-width: 730px) {
    padding: .5em .5em;
    margin-right: 1.5em;
		width: 100%;
  }
}

// Reference from: http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

.title {
  font-size: $font-size-xl;
  font-weight: $font-size-md;
  margin-bottom: 36px;
  small {
    font-size: 16px;
  }
}

.checkbox-input {
  display: none;
}

.checkbox-label,
.checkbox-text,
.checkbox-text--goal,
.checkbox-text--description {
  transition: all .4s ease;
}

.checkbox-label {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  cursor: pointer;
  font-size: $font-size-lg;
  font-weight: $font-normal;
  border: 1px solid darken($color-white, 15%);
  border-radius: 8px;
  box-shadow: inset 0 0 0 0 $primary-color;
  @media screen and (max-width: 540px) {
    font-size: $font-size-ms;
  }

  &:before {
    content: "☆";
    position: absolute;
    top: 75%;
    left: 16px;
    z-index: 6;
    width: $label-before-size;
    height: $label-before-size;
    opacity: 0;
    font-size: 98px;
    font-weight: bold;
    color: $primary-color;
    text-shadow: -1px -1px 2px $shadow-dark,
                  1px 1px 1px $shadow-ligth;
    transform: translate(0%, -50%);
    transition: all .4s ease;
    @media screen and (max-width: 730px) {
      font-size: 64px;
    }
  }
}

.checkbox-text {
  padding: 4px;
  &--title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 1em .5em;
    padding-top: 1em;
    font-weight: $font-bold;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: inherit;

    color:  lighten($accent-violet-color, 25%);
    border-top: 1px solid $accent-color-dark;
  }

  &--donate {
    font-size: 20px;
    color: $secondary-text-color;
    @media screen and (max-width: 675px) {
      font-size: 18px;
    }
    .summ,
    .funding,
    .sumtitle {
      display: inline-block;
      width: 27%;
      padding: .4em;
      @media screen and (max-width: 570px) {
        width: 43%;
      }
    }
    .sumtitle {
      padding: 1em .3em 0 .6em;
      font-size: 16px;
      @media screen and (max-width: 675px) {
        font-size: 14px;
      }
      .none {
        display: inline-block;
        width: 27%;
        padding: .4em .4em .4em 0;
        @media screen and (max-width: 570px) {
          display: none;
        }
      }
    }
    .check-btn {
      display: inline-block;
      padding: .3em;
      text-align: center;
      color: $primary-text-color;
      background-color: $primary-color;
      border-radius: .2em;
      border: 1px solid $primary-color-light;
      outline: 1px solid;
    }
    .donate {
      width: 35%;
      @media screen and (max-width: 590px) {
        display: block;
        justify-content: center;
        margin: auto;
        width: 95%;
      }
    }
    .favorite {
      width: 50%;
      @media screen and (max-width: 590px) {
        width: 40%;
      }
    }
    .check-btn:hover,
    .check-btn:active,
    .check-btn:focus,
    .share:hover {
      box-shadow: inset 0 0 20px $primary-color-light;
      outline-color: $color-white-alt;
      outline-offset: 15px;
    }
    .share-btn {
      display: inline-block;
      padding: .2em;
      margin: 0 .3em;
      text-align: center;
      @media screen and (max-width: 590px) {
        font-size: 16px;
      }
    }
    .share {
      width: 2em;
      border: 1px solid $primary-color;
      border-radius: .2em;
    }
  }
  &--description {
    font-size: $font-size-ms;
    margin-top: 1em;
    padding-top: 1em;
  }

  &--header {
    margin: .1em;
    text-align: right;
    color: $color-white;
    .small {
      font-size: $font-size-ms;
    }
  }
}

.checkbox-input:checked + .checkbox-label {
  border-color: $primary-color;
  box-shadow: inset 0 -12px 0 0 $primary-color;
  &:before {
    top: 0;
    opacity: 1;
  }

  & .checkbox-text {
    &--title {
      border-color: darken($color-white, 15%);
    }
  }
}

.box-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
  background: $accent-violet-color;
  border-radius: .5em .5em 0 0;
  line-height: 0;
}
.box-img img {
  transition: filter 0.5s linear;
  filter: brightness(1) grayscale(1) opacity(0.8);
}
.box-img:hover img {
  filter: none;
}

.box-text {
  position: absolute;
  top: 1em;
  right: 1em;
  
}

img {
  position: absolute;
   top: 50%;
   left: 50%;
   transform:translate(-50%,-50%);
   width: 100%;
   height: 250px;
   object-fit: cover;
}

// ---More projects...
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.more-btn {
  display: block;
  position: relative;
  left: 50%;
  height: 40px;
  width: auto;
  padding: 0 1em 0 2em;
  box-sizing: border-box;
  color: $accent-violet-color;
  font-size: $font-size-ms;
  font-weight: $font-bold;
  border-radius: .5em;
  text-transform: uppercase;
  transform: translate(-50%, 0);
}
