.form_lang_btn {
  display: inline-block;
	margin-right: 10px;
}
.select-language input[type=radio] {
	display: none;
}
.select-language label {
	display: inline-block;
	cursor: pointer;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  filter: grayscale(100%);
  user-select: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #FAFBFF, 3px 3px 5px #A6ABBD;
}
/* Checked */
.select-language input[type=radio]:checked + label {
  filter: grayscale(0%);
}
/* Hover */
.select-language label:hover {
  filter: grayscale(0%);
	box-shadow: -5px -5px 10px #FAFBFF, 3px 3px 6px #7891ec;
}
