<div>
  <div class="form_lang_btn" *ngFor="let language of languageArr">
    <div
      class="select-language"
      #tooltip="matTooltip"
      [matTooltip]="language.toUpperCase()">
      <input
        type="radio"
        [id]="language"
        [value]="language"
        [(ngModel)]="myLanguage" />
      <label
        [for]="language"
        class="stacks-base-block"
        [ngStyle]="{ 'background-image': 'url(assets/flags/' + language + '.svg)' }">
      </label>
    </div>
  </div>
</div>
