.search{
 margin: 0.5em 0.5em 0.5em 0.5em;
}

.warning-message {
  color: rgb(206, 83, 12);
  margin-left: 1em;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.35rem 0 .7rem 0;
  width: 300px;
}

::ng-deep .mat-form-field {
  margin-top: 1rem;
}

