<section class="main">
  <div class="nav-vertiсal">
    <div class="fontsize">
      <span class="logo-title">charity</span>
    </div>
    <div class="go-projects">{{ 'MAIN.GO_PROJECTS' | translate }}</div>
    <div class="globe-rotate">
      <div class="globe">
          <div class="globe-sphere"></div>
          <div class="globe-outer-shadow"></div>
          <div class="globe-worldmap">
              <div class="globe-worldmap-back"></div>
              <div class="globe-worldmap-front"></div>
          </div>
          <div class="globe-inner-shadow"></div>
      </div>
    </div>
    <div class="footer">
      <img
        class="github-img"
        src="../../../../assets/github-svgrepo.svg"
        alt="github-profile">
      <a href="https://rs.school/js/">
        <img
          class="rsschool-img"
          src="../../../../assets/RSSchool_logo.svg"
          alt="RSSchool">
      </a>
    </div>
  </div>
  <div class="content">
    <div class="promo">
      <h3>{{ 'MAIN.PROMO_TITLE' | translate }}</h3>
      <p>{{ 'MAIN.PROMO_TEXT' | translate }}</p>
    </div>
    <button class="start-button">{{ 'MAIN.BTN_START'  | uppercase | translate }}</button>
    <app-select-lang class="lang"></app-select-lang>
  </div>
</section>
