<section id="main" class="main">
  <div id="navLogo" class="nav-vertcal">
    <app-vertical-menu></app-vertical-menu>
    <div class="projects-btn base-vertical">
      <a [routerLink]="['/projects']">
        {{ 'MAIN.GO_PROJECTS' | translate }}
      </a>
    </div>
  </div>
  <div id="pageGlobo" class="globo">
    <span class="before"></span>
    <div class="globe-rotate">
      <div class="globe staks-globe">
        <div class="globe-sphere"></div>
        <div class="globe-outer-shadow"></div>
        <div class="globe-worldmap">
          <div class="globe-worldmap-back"></div>
          <div class="globe-worldmap-front"></div>
        </div>
        <div class="globe-inner-shadow"></div>
      </div>
    </div>
  </div>
  <div id="pageTop" class="top">
  </div>
  <div id="pageContent" class="content">
    <span class="before"></span>
    <span class="promo">
      <h3 class="text-accent">{{ 'MAIN.PROMO_TITLE' | translate }}</h3>
      <p>{{ 'MAIN.PROMO_TEXT' | translate }}</p>
      <button class="start-btn base-button-blue">{{ 'MAIN.BTN_START' | uppercase | translate }}</button>
    </span>
  </div>

  <div id="pageBottom" class="bottom">
    <app-select-lang class="lang"></app-select-lang>
  </div>

  <div id="pageFooter" class="footer-secondary">
    <a href="https://rs.school/js/">
      <img class="rsschool-img" src="../../../../assets/RSSchool_logo.svg" alt="RSSchool" />
    </a>
    <img class="github-img" src="../../../../assets/github-repo.svg" alt="github-profile" />
    <p class="creation">@ 2021</p>
  </div>
</section>
