@import '../../../../theme/colors.scss';

#main {
  display: grid;
  grid-template-areas:
    'logo globo top'
    'logo globo content'
    'footer footer bottom';
  grid-template-rows: 5em 1fr 7em;
  grid-template-columns: 9em 15em 1fr;
  grid-gap: 0;
  width: 100%;
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;
}

#navLogo {
  grid-area: logo;
}
#pageTop {
  grid-area: top;
}
#pageContent {
  grid-area: content;
}
#pageGlobo {
  grid-area: globo;
}
#pageBottom {
  grid-area: bottom;
}
#pagefooter {
  grid-area: footer;
}

.logo,
.top,
.content,
.bottom {
  position: relative;
  padding: 10px;
  background-color: var(--color-white-alt);
}

.nav-vertical {
  position: relative;
}

.globo {
  background-color: var(--primary-color);
}

.footer-secondary {
  width: 24em;
  z-index: 5;
  padding-top: 1.3em;
  background-color: var(--primary-color);
}

.rsschool-img {
  height: 37px;
  margin: 1em 1em 0 2em;
}

.github-img {
  height: 40px;
  margin: 0 0.5em;
}

.rsschool-img:hover,
.github-img:hover {
  cursor: pointer;
}

.creation {
  display: inline-block;
  margin: 1em;
  font-weight: bold;
  color: #f6f3ec;
  text-align: left;
  opacity: 0.7;
}

.content {
  position: relative;
  padding-left: 34em;
  overflow: auto;
  background-color: var(--color-white-alt);

  .before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .promo {
    display: inline-block;
    vertical-align: middle;
  }

  h3 {
    display: table-cell;
    width: 320px;
    height: 200px;
    vertical-align: bottom;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: var(--accent-violet-color);
  }
  p {
    width: 360px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 18px;
    line-height: 28px;
    color: var(--secondary-text-color);
    opacity: 0.7;
  }
  .start-btn {
    height: 40px;
    width: 160px;
  }
}

.lang {
  position: absolute;
  bottom: 1.5em;
  right: 1em;
}
