  <div class="nav-vert-primary">
    <div class="fontsize">
      <span class="logo">ANT</span>
      <span class="logo-title">{{ 'MAIN.LOGO_TITLE' | translate }}</span>
    </div>
    <div class="footer-secondary">
      <a href="https://rs.school/js/">
        <img class="rsschool-img" src="../../../../assets/RSSchool_logo.svg" alt="RSSchool" />
      </a>
      <img class="github-img" src="../../../../assets/github-repo.svg" alt="github-profile" />
      <p class="creation">@ 2021</p>
    </div>
  </div>
